<div class="container py-4">
  <div class="row text-center">
    {{#each categories as |category|}}

    <div class="col-3">
      <a href="/categories/{{category.id}}" class="text-decoration-none">
        <img class="img-responsive" src="../images/category-{{category.id}}.jpg">
        <div class="text-dark">
          {{category.name}}
        </div>
      </a>
    </div>
    {{/each}}
  </div>
</div>


<div class="px-5">
  <h2 class="py-3">Products</h2>
  <div class="row mb-3">
  {{#each products as |product|}}
    <div class="col-3 mb-5">
      <div class="card" style="width: 200px; height: 380px">
        <img class="img-responsive" src="../images/category-1.jpg">
        <div class="ml-2">
          <p class="pt-1" style="font-size: 0.7rem;">{{product.category.name}}</p>
          <h5>{{product.name}}</h5>
          <p style="font-size: 0.7rem;">{{product.brand.name}}</p>
          <h5 >${{product.price}} <span style="font-size: 0.7rem;"> each</span></h5>
        </div>
      </div>
    </div>
  {{/each}}
  </div>
</div>
